<!DOCTYPE html>
    <body>
        <div class="container" style="padding-top: 90px;">
            <div class="row px-3">
                <aside class="col-md-3">
                    <h2>Coming soon</h2>
                    <p>More features to be added in the future.</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            Hi! My name is Alex Lin and I am currently a second year CPA student at Seneca. I went to the University of Toronto
                            before coming to Seneca for programming! 
                        </p>
                        <p>
                            My goal is to become a fullstack developer working on both frontend and backend. I enjoyed writing code that turns into
                            real application that I can see. But I also love working with the backend API programming technologies. I have learned a couple
                            of frontend frameworks/libraries on my own including: React, Jquery, Bootstrap, Tailwind. For backend development, I have done Python,
                            Express, and I am currently learning PHP framework Laravel. I had done a couple of simple projects working with MYSQL, SQLITE, MongoDB databases.
                        </p>
                        <p>
                            My hobbies outside of coding include: Video games, board games, table tennis, and just hanging out with friends.
                        </p>
                        <p>
                            My favorite food includes: Ramen, Sushi, Shawarma, Curry, BBQ, and Chick-Fila
                        </p>
                    </article>
                </section>
            </div>
        </div>

        <!-- Latest compiled and minified Bootstrap 5 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
