<!DOCTYPE html>
<body>

    <h2>Add Category</h2>
  <form action="/categories/add" method="post">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" autofocus>
    <button type="submit">Add Category</button>
  </form>

</body>
</html>